body {
  background-color: #000629;
  background-image: url("../img/topography.svg");
}
a, a:hover, a:visited {
  color: #FFCD63;
}
li {
  padding-bottom: 10px
}
#main {
  font-family: sans-serif;
  font-size: 18px;
  color: #C0DDEC;
}
#glyph {
  width: 100px;
  margin: 6px;
  vertical-align: text-top;
}
#hello {
  font-size: 100px;
  font-weight: bold;
  color: #FFCD63;
  background-color: #000C51;
  background-image: url("../img/topography_alt.svg");
  width: 110%;
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 10px;
}
#content {
}
#glider {
  vertical-align: bottom;
}
#ciao {
  margin-top: 30px;
}
.blurb {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 700px;
}
.big {
  font-size: 50px;
  font-weight: bold;
  color: #FFCD63;
  background-color: #000C51;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: min-content;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.highlight {
  color: #000C51;
  background-color: #FFCD63;
  font-weight: bold;
}
.small {
  font-size: 12px;
}

@media only screen and (max-device-width: 400px) {
  .big {
    width: 100% !important;
  }
}
